<%= bootstrap_form_for Entity.new, url: group_entities_path, method: :post, local: true, scope: :post do |form| %>
  <% if entity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
        <% entity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.number_field :amount %>
  </div>

  <div class="p-2 mt-5 bg-success col-12">
    <%= form.submit "Save", class: "btn btn-success bg-success col-12 m-2border border-white rounded-1"%>
  </div>
<% end %>
