<%= bootstrap_form_for Entity.new, url: group_entities_path, method: :post, local: true, scope: :post do |form| %>
  <% if entity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
        <% entity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.number_field :amount %>
  </div>

  <div>
    <%= form.submit "Save" %>
  </div>
<% end %>
