<div class="container mt-3 text-center">
  <%= image_tag "modern-style-vector.webp", class: "showcase-img" %>
  <h2 class="text-start">Forgot <br>password?</h2>
  <p class="f-xs text-start"> Don't worry, It happens. Please enter the address associated with your account.</p>
  <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email,  label_as_placeholder: true, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit "Submit", class: "btn btn-primary col-12"%>
    </div>
  <% end %>
</div>
