<div class="container lh-lg">
  <%= image_tag "access-control-login.avif", class: "showcase-img" %>
  <h2 class="my-2 text-start fw-bolder">Log in</h2>
  <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email, label_as_placeholder: true, autofocus: true, autocomplete: "email" %>
    <%= f.password_field :password, label_as_placeholder: true, autocomplete: "email" %>
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot password?", new_password_path(resource_name), class: "text-primary text-end fw-bold text-decoration-none" %>
    <% end %>
    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary col-12 my-2" %>
    </div>
    <p class="text-center mt-3"><span class="text-secondary">Not a member? </span class=""><%= link_to "Register", new_registration_path(resource_name), class: "text-primary fw-bold text-decoration-none" %> </p>

  <% end %>
</div>
